    <div class="header">

        <div class="HomePageTitle">PadelSync</div>

        <div class="HomePageHeader">
            <a href="/login">
                <button class="loginButton">Login</button>
            </a>
            <a href="/registration">
                <button class="registerButton">Register</button>
            </a>
        </div>

    </div>