<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles/home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="root"></div>
        <link rel="stylesheet" href="/calendar/static/css/main.10d0131d.css">
        <script src="/calendar/static/js/main.596b88ea.js"></script>
    </body>
</html>