<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>

    <div class="HomePageHeader">
        <a href="/login">Login</a>
        <a href="/registration">Register</a>
    </div>

    <div class="HomepageTitle">PadelSync homepage</div>
    
</body>