<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>

    <div class="header">

        <div class="HomePageTitle">PadelSync</div>

        <div class="HomePageHeader">
            <%if(!isAuthenticated) {%>
                <a href="/login">
                <button class="loginButton">Login</button>
                </a>
                <!--Auth0 does not separate signin and signup, they deal with that in their pop up window-->
                <!-- <a href="/registration">
                    <button class="registerButton">Register</button>
                </a> -->
            <%}else{%>
                <a href="/logout">
                    <button class="logoutButton">Logout</button>
                </a>
                
            <%}%>
            
            <a href="/myprofile">MyProfile</a>
        </div>

    </div>

    <div>

        <div class="HomePageInformation">

            <h1>Welcome to PadelSync</h1>

            <span>Explore everything about padel and what it has to offer</span>

        </div>

        <div>

            <div>

            </div>

            <div>


            </div>

            <div>


            </div>

            <div>


            </div>

            <div>


            </div>

        </div>

        <pre><%= JSON.stringify(user, null, 2)%></pre>
        <pre><%= JSON.stringify(session, null, 2)%></pre>
        <pre><%= JSON.stringify(oidcWhole, null, 2)%></pre>

    </div>

    
</body>