<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>
    <script src="scripts/submituserlogin.js"></script>
    <p>Ovdje ide login za korisnike</p>
    <form action="JavaScript:submitUserLoginForm();">
        <label for="username">KorisniÄko ime:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Lozinka:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Prijavi se">
    </form>

</body>