<!DOCTYPE html>
<html lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Plaćanje</title>
  <link rel="stylesheet" href="/styles/payment.css">
</head>
<body>

  <div class="PaymentContainer">

    <h2>Plaćanje</h2>

    <div class="PaymentInfo">

      <span>Iznos: <strong><%= cijena %> €</strong></span>
      <span>Klub: <strong><%= klub %></strong></span>

    </div>

    <button
      id="payBtn"
      data-transakcija-id="<%= transakcijaID %>">
      Plati karticom
    </button>

  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const payBtn = document.getElementById("payBtn");

      payBtn.addEventListener("click", () => {
        const transakcijaID = payBtn.dataset.transakcijaId;
        window.location.href = `checkout/${transakcijaID}`;
      });
    });
  </script>

</body>
</html>
