<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Subscription</title>
    </head>
    <body>
        <form id="addSubForm" method="post" action="/editschedule/addSub">
            <label for="nazivPretp">Subscription name</label>
            <input id="nazivPretp" type="text" name="pretpNaziv" required>
            <label for="cijenaPretp">Subscription price</label>
            <input id="cijenaPretp" type="number" step="0.1" name="pretpCijena" required>
            <label for="pretpLvl">Subscription level</label>
            <input id="pretpLvl" type="number" step="1" name="levelPretplate" required>
            <p>Will you offer coaching as part of this subscription?</p>
            <input id="da" type="radio" name="poducavanje" value="1" required>
            <label for="da">Yes</label>
            <input id="ne" type="radio" name="poducavanje" value="0">
            <label for="ne">No</label>
            <button type="submit">Add subscription</button>
        </form>
    </body>
</html>