<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>
    <p>This page will support searching through TERRAINS</p>
    <form id="terrainSearchForm" method="GET" action="/terrain_search/results">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>

        <label for="visinaStropa">Visina stropa (≤):</label>
        <input type="number" id="visinaStropa" name="visinaStropa" min="0" step="any"><br><br>

        <label>Tip terena:</label>
        <input type="checkbox" id="single" name="tipTeren[]" value="single">
        <label for="single">Single</label>
        <input type="checkbox" id="double" name="tipTeren[]" value="double">
        <label for="double">Double</label><br><br>

        <label for="cijena">Cijena (jeftinije od):</label>
        <input type="number" id="cijena" name="cijena" min="0" step="any"><br><br>

        <label>Osvjetljenje:</label>
        <input type="radio" id="osvjetljenjeYes" name="osvjetljenje" value="yes">
        <label for="osvjetljenjeYes">Da</label>
        <input type="radio" id="osvjetljenjeNo" name="osvjetljenje" value="no">
        <label for="osvjetljenjeNo">Ne</label><br><br>

        <label>Tip podloge (dozvoljeno):</label>
        <input type="checkbox" id="beton" name="tipPodloge[]" value="beton">
        <label for="beton">Beton</label>
        <input type="checkbox" id="trava" name="tipPodloge[]" value="trava">
        <label for="trava">Trava</label>
        <input type="checkbox" id="tepih" name="tipPodloge[]" value="tepih">
        <label for="tepih">Tepih</label>
        <input type="checkbox" id="akrilik" name="tipPodloge[]" value="akrilik">
        <label for="akrilik">Akrilik</label>
        <input type="checkbox" id="drvo" name="tipPodloge[]" value="drvo">
        <label for="drvo">Drvo</label>
        <br><br>

        <button type="submit">Pretraži</button>
    </form>
</body>