<!DOCTYPE html>
<html>
    <head>
        <% if (show_search_results === true) { %>
            <link rel="stylesheet" type="text/css" href="../styles/terrain_search.css">
        <% } %>
        <% if (show_search_results === false) { %>
            <link rel="stylesheet" type="text/css" href="styles/terrain_search.css">
        <% } %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/scripts/userLocation.js" defer></script>
        <script src="/scripts/socket.js" defer></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>

    <body>

        <div class="BackgroundTop">
            <h1>Pretraživanje terena</h1>
        </div>

        <div class="SearchContainer">
            <form id="terrainSearchForm" method="GET" action="/terrain_search/results">
                <label>Username:</label>
                    <input type="text" id="username" name="username">
                <br><br>

                <label>Visina stropa (>=):</label>
                    <input type="number" id="visinaStropa" name="visinaStropa" min="0" step="any">
                <br><br>

                <label>Tip terena:</label>
                <div class="InputGroup">
                    <label><input type="checkbox" id="single" name="tipTeren[]" value="single"> Single</label>
                    <label><input type="checkbox" id="double" name="tipTeren[]" value="double"> Double</label>
                </div><br>

                <label>Unutarnji/vanjski:</label>
                <div class="InputGroup">
                    <label><input type="checkbox" id="unutarnji" name="unutarnjiVanjski[]" value="unutarnji"> Unutarnji</label>
                    <label><input type="checkbox" id="vanjski" name="unutarnjiVanjski[]" value="vanjski"> Vanjski</label>
                </div><br>

                <label>Cijena (jeftinije od):</label>
                    <input type="number" id="cijena" name="cijena" min="1" step="any">
                <br><br>

                <label>Osvjetljenje:</label>
                <div class="InputGroup">
                    <label><input type="radio" id="osvjetljenjeYes" name="osvjetljenje" value="yes"> Da</label>
                    <label><input type="radio" id="osvjetljenjeNo" name="osvjetljenje" value="no"> Ne</label>
                </div><br>

                <label>Tip podloge (dozvoljeno):</label>
                <div class="InputGroup">
                    <label><input type="checkbox" id="beton" name="tipPodloge[]" value="beton"> Beton</label>
                    <label><input type="checkbox" id="trava" name="tipPodloge[]" value="trava"> Trava</label>
                    <label><input type="checkbox" id="tepih" name="tipPodloge[]" value="tepih"> Tepih</label>
                    <label><input type="checkbox" id="akrilik" name="tipPodloge[]" value="akrilik"> Akrilik</label>
                    <label><input type="checkbox" id="drvo" name="tipPodloge[]" value="drvo"> Drvo</label>
                </div><br>

                <label>Trenutna udaljenost u kilometrima:</label>
                <input type="number" id="udaljenost" name="udaljenost" step="0.01" min="0.2">

                <div class="FormButtons">
                    <button type="submit" class="searchButton">Pretraži</button>
                    <button type="button" class="backButton" onclick="location.href='/home'">← Back to Home</button>
                </div>

                <input type="hidden" id="userLat" name="userLat">
                <input type="hidden" id="userLong" name="userLong">
                
            </form>
        </div>

        <% if (typeof results !== 'undefined' ) {  %>
            <div class="ResultsSection">
                <h2>Search Results:</h2>
                <% if (results.length > 0) { %>
                    <ul>
                        <% results.forEach(function(terrain) { %>
                            <li>
                                <a href="/terrain/<%= terrain.terenID %>">
                                    Terrain ID: <%= terrain.terenID %>, Ime terena: <%= terrain.imeTeren%> Owner: <%= terrain.username %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                <% } else { %>
                    <p>No terrains found matching the criteria.</p>
                <% } %>
            </div>
        <% } %>

    </body>
</html>