<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="styles/home.css">
</head>

<body>
    <p>A verification email has been sent to your email address. Please check your inbox and follow the instructions to verify your account.</p>
</body>